body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ffff;
  /* background: #fff9da; */
  padding-left: 2rem;
  padding-right: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  /* background: #fff9da; */
  background: #ffff;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: left;
  color: #faa307;
}

.headerIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  color: #faa307;
}

.EditableGameName {
  text-align: center;
  display: flex;
  padding-bottom: .5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #faa307;
  margin: auto;
}

.EditableScoreTable {
 margin-top: 1rem;
 margin-left: auto;
 margin-right: auto;
 color: #f7f7f7
}

.addAnotherPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.tableCell {
  width: 10%;
}

.averageCell {
  width: 10%;
}
